@import './base.css';

/* 
 Very big thanks to:
 https://fontstruct.com/fontstructions/show/1655227/minecraftio
 https://fontstruct.com/fontstructors/1664236/bwm
 the only Minecraft font with proper small capital letters & accents
*/

@font-face {
  font-family: 'minecraftio';
      src: url('./minecraftio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
    }

* {
  font-family: minecraftio;
}


#app {
  color: #fff;
  margin: 0 auto;

  font-weight: normal;
}
#app {
  background: url("https://i.imgur.com/BuhwdPB.png");
  background-repeat: repeat;
 }
 #app {
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
