@import './base.css';

@import url(https://fontlibrary.org//face/minecraftia);
* {
  font-family: MinecraftiaRegular;
}


#app {
  color: #fff;
  margin: 0 auto;

  font-weight: normal;
}
#app {
  background: url("https://i.imgur.com/BuhwdPB.png");
  background-repeat: repeat;
 }
 #app {
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
